{% extends 'basic.html' %}
{% load static %}

{% block content %}
<section class="page">
		<div class="page-top" style="background-image: url({% static 'img/page-bg-5.jpg' %});">
			<div class="page-top__wrap">
				<h1 class="page-head" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">Контакты</h1>
			</div>
		</div>
	</section>
	<!-- end page -->
	<!-- start contact -->
	<section class="contact">
		<div class="wrapper">
			<div class="contact-block" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
				<h3 class="page-title">Москва</h3>
				<div class="contact-row">
					<div class="contact-descr">
						<div class="contact-info">
							<div class="contact-col">
								<span class="contact-subtitle">Телефоны</span>
								<ul>
									<li><a href="#">8 (495) 760-20-58</a></li>
									<li><a href="#">8 (495) 760-20-58</a></li>
									<li><a href="#">8 (495) 760-20-58</a></li>
								</ul>
							</div>
							<div class="contact-col">
								<span class="contact-subtitle">Адрес</span>
								<ul>
									<li>ул. Ватутина, <br>д.4, корп. 2</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="contact-location">
						<div class="contact-map">
							<div id="map1" class="map"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="contact-block" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
				<h3 class="page-title">Санкт Петербург</h3>
				<div class="contact-row">
					<div class="contact-descr">
						<div class="contact-info">
							<div class="contact-col">
								<span class="contact-subtitle">Телефоны</span>
								<ul>
									<li><a href="#">8 (495) 760-20-58</a></li>
									<li><a href="#">8 (495) 760-20-58</a></li>
									<li><a href="#">8 (495) 760-20-58</a></li>
								</ul>
							</div>
							<div class="contact-col">
								<span class="contact-subtitle">Адрес</span>
								<ul>
									<li>ул. Ватутина, <br>д.4, корп. 2</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="contact-location">
						<div class="contact-map">
							<div id="map2" class="map"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="contact-block" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
				<h3 class="page-title">Санкт Петербург</h3>
				<div class="contact-row">
					<div class="contact-descr">
						<div class="contact-info">
							<div class="contact-col">
								<span class="contact-subtitle">Телефоны</span>
								<ul>
									<li><a href="#">8 (495) 760-20-58</a></li>
									<li><a href="#">8 (495) 760-20-58</a></li>
									<li><a href="#">8 (495) 760-20-58</a></li>
								</ul>
							</div>
							<div class="contact-col">
								<span class="contact-subtitle">Адрес</span>
								<ul>
									<li>ул. Ватутина, <br>д.4, корп. 2</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="contact-location">
						<div class="contact-map">
							<div id="map3" class="map"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="contact-block" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
				<h3 class="page-title">Санкт Петербург</h3>
				<div class="contact-row">
					<div class="contact-descr">
						<div class="contact-info">
							<div class="contact-col">
								<span class="contact-subtitle">Телефоны</span>
								<ul>
									<li><a href="#">8 (495) 760-20-58</a></li>
									<li><a href="#">8 (495) 760-20-58</a></li>
									<li><a href="#">8 (495) 760-20-58</a></li>
								</ul>
							</div>
							<div class="contact-col">
								<span class="contact-subtitle">Адрес</span>
								<ul>
									<li>ул. Ватутина, <br>д.4, корп. 2</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="contact-location">
						<div class="contact-map">
							<div id="map4" class="map"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end contact -->
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}