{% extends 'basic.html' %}
{% load static %}

{% block content %}
<section class="page">
		<div class="page-top" style="background-image: url({% static 'img/page-bg-5.jpg' %});">
			<div class="page-top__wrap">
				<h1 class="page-head" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">Контакты</h1>
			</div>
		</div>
	</section>
	<!-- end page -->
	<!-- start contact -->
	<section class="contact">
		<div class="wrapper">
			<div class="contact-block" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
				<h3 class="page-title">Москва</h3>
				<div class="contact-row">
					<div class="contact-descr">
						<div class="contact-info">
							<div class="contact-col">
								<span class="contact-subtitle">Телефоны</span>
								<ul>
									<li><a href="tel:+74957602058">8 (495) 760-20-58</a></li>
									<li><a href="tel:+74986815727">8 (498) 681-57-27</a></li>
									<li><a href="tel:+79104649377">8 (910) 464-93-77</a></li>
								</ul>
							</div>
							<div class="contact-col">
								<span class="contact-subtitle">Адрес</span>
								<ul>
									<li>ул. Ватутина, <br>д.4, корп. 2</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="contact-location">
						<div class="contact-map">
							<div  class="map">
                                <script src="http://api-maps.yandex.ru/services/constructor/1.0/js/?sid=_qdi1N777Zt1MeTt6C9Q2V_lbFtD1a3d&amp;height=153" type="text/javascript"></script>
                            </div>
						</div>
					</div>
				</div>
			</div>
			<div class="contact-block" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
				<h3 class="page-title">Мытищи</h3>
				<div class="contact-row">
					<div class="contact-descr">
						<div class="contact-info">
							<div class="contact-col">
								<span class="contact-subtitle">Телефоны</span>
								<ul>
                                    <li><a href="tel:+74957602058">8 (495) 760-20-58</a></li>
									<li><a href="tel:+74986815727">8 (498) 681-57-27</a></li>
									<li><a href="tel:+79104649377">8 (910) 464-93-77</a></li>
								</ul>
							</div>
							<div class="contact-col">
								<span class="contact-subtitle">Адрес</span>
								<ul>
									<li>ул. Карла Маркса <br>д.4 офис 404</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="contact-location">
						<div class="contact-map">
							<div  class="map">
                                <script src="http://api-maps.yandex.ru/services/constructor/1.0/js/?sid=UwaoanPMmz3_5jaROOLOpY43UTZZJ-_a&amp;height=153" type="text/javascript"></script>
                            </div>
						</div>
					</div>
				</div>
			</div>
			<div class="contact-block" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
				<h3 class="page-title">Королев</h3>
				<div class="contact-row">
					<div class="contact-descr">
						<div class="contact-info">
							<div class="contact-col">
								<span class="contact-subtitle">Телефоны</span>
								<ul>
									 <li><a href="tel:+74957602058">8 (495) 760-20-58</a></li>
									<li><a href="tel:+74986815727">8 (498) 681-57-27</a></li>
									<li><a href="tel:+79104649377">8 (910) 464-93-77</a></li>
								</ul>
							</div>
							<div class="contact-col">
								<span class="contact-subtitle">Адрес</span>
								<ul>
									<li> ул. Калинина,  <br>д.6"Б", ДЦ "Сигма", 3-й этаж, офис 82</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="contact-location">
						<div class="contact-map">
							<div  class="map">
                                <script src="http://api-maps.yandex.ru/services/constructor/1.0/js/?sid=XkWP26SWAv9l7epsaPwuhRiUmW4WbuKZ&amp;height=153" type="text/javascript"></script>
                            </div>
						</div>
					</div>
				</div>
			</div>
			<div class="contact-block" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
				<h3 class="page-title">Щелково</h3>
				<div class="contact-row">
					<div class="contact-descr">
						<div class="contact-info">
							<div class="contact-col">
								<span class="contact-subtitle">Телефоны</span>
								<ul>
									 <li><a href="tel:+74957602058">8 (495) 760-20-58</a></li>
									<li><a href="tel:+74986815727">8 (498) 681-57-27</a></li>
									<li><a href="tel:+79104649377">8 (910) 464-93-77</a></li>
								</ul>
							</div>
							<div class="contact-col">
								<span class="contact-subtitle">Адрес</span>
								<ul>
									<li>ул. Свирская, <br>д. 14, 2-й этаж, офис №10</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="contact-location">
						<div class="contact-map">
							<div  class="map">
                                <script src="http://api-maps.yandex.ru/services/constructor/1.0/js/?sid=5FV3y56E_NyCCU0yWdh_ABfOAtFrEEhC&amp;height=153" type="text/javascript"></script>
                            </div>
						</div>
					</div>
				</div>
			</div>
            <div class="contact-block" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
				<h3 class="page-title">Пушкино</h3>
				<div class="contact-row">
					<div class="contact-descr">
						<div class="contact-info">
							<div class="contact-col">
								<span class="contact-subtitle">Телефоны</span>
								<ul>
									 <li><a href="tel:+74957602058">8 (495) 760-20-58</a></li>
									<li><a href="tel:+74986815727">8 (498) 681-57-27</a></li>
									<li><a href="tel:+79104649377">8 (910) 464-93-77</a></li>
								</ul>
							</div>
							<div class="contact-col">
								<span class="contact-subtitle">Адрес</span>
								<ul>
									<li>ул. Учинская, <br> д.6б, 1 этаж, оф. №2, ориентир военкомат</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="contact-location">
						<div class="contact-map">
							<div  class="map">
                                <script src="http://api-maps.yandex.ru/services/constructor/1.0/js/?sid=3gXLhb4WN8oXw57Jo7nfiP_NMAepYsVr&amp;height=153" type="text/javascript"></script>
                            </div>
						</div>
					</div>
				</div>
			</div>
            <div class="contact-block" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
				<h3 class="page-title">Балашиха</h3>
				<div class="contact-row">
					<div class="contact-descr">
						<div class="contact-info">
							<div class="contact-col">
								<span class="contact-subtitle">Телефоны</span>
								<ul>
									 <li><a href="tel:+74957602058">8 (495) 760-20-58</a></li>
									<li><a href="tel:+74986815727">8 (498) 681-57-27</a></li>
									<li><a href="tel:+79104649377">8 (910) 464-93-77</a></li>
								</ul>
							</div>
							<div class="contact-col">
								<span class="contact-subtitle">Адрес</span>
								<ul>
									<li>ул.Советская, <br>д.56, 1 этаж, офис №3, 3 подъезд</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="contact-location">
						<div class="contact-map">
							<div class="map">
                                <script src="http://api-maps.yandex.ru/services/constructor/1.0/js/?sid=Lt7i7xY2bfJFQnegMMp05Qv4Z5MKCTqi&amp;height=153" type="text/javascript"></script>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end contact -->
{% endblock %}

{% block js %}
{{ block.super }}

{% endblock %}