{% extends 'basic.html' %}
{% load static %}

{% block content %}
<!-- start page -->
	<section class="page">
		<div class="page-top" style="background-image: url({% static 'img/page-bg-6.jpg' %});">
			<div class="page-top__wrap">
				<h1 class="page-head" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">БТИ г.королев</h1>
			</div>
		</div>
		<div class="page-content page-content-big" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
			<div class="wrapper">
				<ul>
					<li>БТИ Королева - это Бюро технической инвентаризации – сокращенно ГУП БТИ, которое функционирует с 1948 года.</li>
					<li>Руководитель: Ткаченко Андрей Владимирович </li>
					<li>В Королеве 2 Филиала ГУП БТИ: ул. Циолковского, д.27; г. Юбилейный, ул. Пушкинская, д.13</li>
				</ul>
				<h3 class="page-subtitle">Услуги:</h3>
				<ul>
					<li>- Техническая инвентаризация жилых и нежилых помещений</li>
					<li>- Операции с недвижимостью (Купля-продажа, аренда, приватизация, дарение, наследование недвижимости, узаконивание перепланировок и реконструкций, операции по документам по земельным участкам)</li>
					<li>- Судебный и несудебный раздел недвижимости</li>
					<li>- Оценка недвижимости: жилых помещений и земельных участков</li>
					<li>- Геодезия: подготовка кадастровых дел, топографическая съемка земельных участков</li>
				</ul>
				<ul>
					<li>Сайт:   <a href="#">bti.korolev-net.ru</a></li>
					<li>E-mail:  <a href="#">bti_korolev@mail.ru</a></li>
					<li>МОБТИ:   <a href="#">www.mobti.ru</a></li>
					<li>E-mail:   <a href="#">mobti@mobti.ru</a></li>
					<li>Адрес: 141070, г. Королёв, Подлипки, ул. Циолковского, д. 27, Офис-центр, 3 эт.</li>
					<li>Тел: (495) 511-38-33, 511-36-62, 511-22-04, 511-19-79</li>
				</ul>
				<p>Часы работы: для физ. лиц: пн 10.00-17.00 (обед 13.00-14.00), вт-чт 10.00-13.00; для юр. лиц: пт 10.00-13.00; личный прием руководителя пн 14.00-18.00, чт 10.00-13.00</p>
				<p>Выдача готовых документо: каб. №1, пн-чт  10.00-17.00 (обед 13.00-14.00), пт, сб 10.00-13.00 (сб-только документы не требующие доплаты)</p>
			</div>
		</div>
	</section>
	<!-- end page -->
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}