{% extends 'basic.html' %}
{% load static %}

{% block content %}
    <!-- start page -->
    <section class="page">
        <div class="page-top" style="background-image: url({% static 'img/page-bg-6.jpg' %});">
            <div class="page-top__wrap">
                <h1 class="page-head" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">Ипотечный калькулятор</h1>
            </div>
        </div>
        <div class="page-content page-content-big">
            <div class="wrapper">
                <div class="calculator">
                    <div class="sell-row">
                        <div class="sell-col" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
                            <form action="">
                                <div class="sell-wrap">
                                    <h4 class="calculator-title">По стоимости недвижимости</h4>
                                    <label for="j-1">Стоимость недвижимости</label>
                                    <div class="input-block">
                                        <div class="input-wrap">
                                            <input id="j-1" type="number" name="name"  v-model="total_cost">
                                            <span class="input-text">руб</span>
                                        </div>
                                    </div>
                                    <label for="h-1">Первоначальный взнос</label>
                                    <div class="sell-wrap__row sell-wrap__row-last">
                                        <div class="input-block">
                                            <div class="input-wrap">
                                                <input id="h-1" type="number" name="text" placeholder="" v-model="first_money">
                                            </div>
                                        </div>
                                        <div class="input-block sell-wrap__small sell-wrap__small-s">
                                            <div class="select">
                                                <div class="select-main">
                                                    <div class="select-text">Рубли</div>
                                                    <div class="input-icon">
                                                        <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#383838"/></svg>
                                                    </div>
                                                </div>
                                                <div class="select-info">
                                                    <ul>
                                                        <li @click="currency='RUB'">Рубли</li>
                                                        <li @click="currency='USD'">Доллары</li>

                                                    </ul>
                                                </div>
                                                <input type="text" name="text" class="select-value1" v-model="currency">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="calculator-row">
                                        <p>Сумма кредита</p>
                                        <span>[[credit_summ]] [[currency_sign]]</span>
                                    </div>
                                    <label for="q-1">Срок кредита</label>
                                    <div class="sell-wrap__row sell-wrap__row-last">
                                        <div class="input-block">
                                            <div class="input-wrap">
                                                <input id="q-1" type="number" v-model="credit_time" placeholder="">
                                            </div>
                                        </div>
                                        <div class="input-block sell-wrap__small sell-wrap__small-s">
                                            <div class="select">
                                                <div class="select-main">
                                                    <div class="select-text">мес</div>
                                                    <div class="input-icon">
                                                        <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#383838"/></svg>
                                                    </div>
                                                </div>
                                                <div class="select-info">
                                                    <ul>
                                                        <li @click="credit_len='m'">мес</li>
                                                        <li @click="credit_len='y'">лет</li>

                                                    </ul>
                                                </div>
                                                <input type="text" name="text" class="select-value1" v-model="credit_len">
                                            </div>
                                        </div>
                                    </div>
                                    <label for="j-4">Процентная ставка</label>
                                    <div class="input-block">
                                        <div class="input-wrap">
                                            <input id="j-4" type="number" v-model="credit_percent">
                                            <span class="input-text">% годовых</span>
                                        </div>
                                    </div>
                                    <label for="j-4">Вид платежа</label>
                                    <div class="radio">
                                        <input type="radio" name="pay" v-model="pay_type"  value="an">
                                        <span class="radio-ico"></span>
                                        <p>Аннуитетный</p>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="pay" v-model="pay_type" value="df">
                                        <span class="radio-ico"></span>
                                        <p>Дифференцированный</p>
                                    </div>
                                    <div class="calculator-btn">
                                        <a @click.prevent="calcForm1" class="second-btn">Расчитать</a>
                                    </div>
                                    <h4 style="padding-top: 30px;padding-bottom: 0" v-show="form1_result" class="calculator-title">Ежемесячный платеж составит  [[form1_result]] [[currency_sign]]</h4>

                                </div>
                            </form>
                        </div>
                        <div class="sell-col" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
                            <form action="">
                                <div class="sell-wrap">
                                    <h4 class="calculator-title">По сумме кредита</h4>
                                    <label for="j-2">Сумма кредита</label>
                                    <div class="input-block">
                                        <div class="input-wrap">
                                            <input id="j-2" type="number" name="name" v-model="total_credit_cost1">
                                            <span class="input-text">руб</span>
                                        </div>
                                    </div>
                                    <label for="h-12">Срок кредита</label>
                                    <div class="sell-wrap__row sell-wrap__row-last">
                                        <div class="input-block">
                                            <div class="input-wrap">
                                                 <input id="h-12" type="number" v-model="credit_time1" placeholder="">
                                            </div>
                                        </div>
                                        <div class="input-block sell-wrap__small sell-wrap__small-s">
                                            <div class="select">
                                                <div class="select-main">
                                                    <div class="select-text">мес</div>
                                                    <div class="input-icon">
                                                        <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#383838"/></svg>
                                                    </div>
                                                </div>
                                                <div class="select-info">
                                                    <ul>
                                                        <li @click="credit_len1='m'">мес</li>
                                                        <li @click="credit_len1='y'">лет</li>

                                                    </ul>
                                                </div>
                                                <input type="text" name="text" class="select-value1" v-model="credit_len1">
                                            </div>
                                        </div>
                                    </div>
                                    <label for="j-41">Процентная ставка</label>
                                    <div class="input-block">
                                        <div class="input-wrap">
                                            <input id="j-41" type="number" name="text" v-model="credit_percent1">
                                            <span class="input-text">% годовых</span>
                                        </div>
                                    </div>
                                    <label for="j-4">Вид платежа</label>
                                    <div class="radio">
                                        <input type="radio" name="pay1" v-model="pay_type1"  value="an">
                                        <span class="radio-ico"></span>
                                        <p>Аннуитетный</p>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="pay1" v-model="pay_type1" value="df">
                                        <span class="radio-ico"></span>
                                        <p>Дифференцированный</p>
                                    </div>
                                    <div class="calculator-btn">
                                         <a @click.prevent="calcForm2" class="second-btn">Расчитать</a>
                                    </div>
                                     <h4 style="padding-top: 30px;padding-bottom: 0" v-show="form2_result" class="calculator-title">Ежемесячный платеж составит  [[form2_result]] [[currency_sign]]</h4>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div v-show="form1_result_df.length > 0" class="">
                    <table style="width: 100%;">
                        <tr style="line-height: 40px; font-weight: 600; text-align: center;">
                            <td>Месяц</td>
                            <td>Основной платеж [[currency_sign]]</td>
                            <td>Остаток долга [[currency_sign]]</td>
                            <td>Проценты</td>
                            <td>Размер взноса [[currency_sign]]</td>
                        </tr>
                        <tr style="text-align: center" v-for="(result,index) in form1_result_df">
                            <td>[[index+1]]</td>
                            <td>[[result.c1]]</td>
                            <td>[[result.c2]]</td>
                            <td>[[result.c3]]</td>
                            <td>[[result.c4]]</td>

                        </tr>

                    </table>
                </div>
                <div class="page-block" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
                    <h3 class="page-title">Расчет ипотеки онлайн</h3>
                    <p>При покупке недвижимости многие рассматривают вариант ипотечного кредитования. По статистике, ипотечное кредитование является одним из самых популярных видов покупки жилья.</p>
                    <p>Чтобы заранее узнать размер ежемесячных платежей, переплаты и срок кредитования, можете воспользоваться ипотечным калькулятором на нашем сайте. В этом случае вам не нужно ходить в банк и консультироваться, чтобы узнать, какой вариант ипотеки вам подходит.</p>
                    <p>С помощью несложных математических формул ипотечный калькулятор вычисляет самые главные показатели кредита: платежи, сумма ипотеки, переплата, сроки и т.д. Самое главное, что этот калькулятор рассчитывает все онлайн. Заемщик может с легкостью рассчитать размер платежей и понять, подходит ли ему вариант ипотечного кредитования.</p>
                    <p>Однако, надо обязательно помнить, что размер ипотеки и платежей не будут точными, если при расчете были использованы искаженные данные по некоторым параметрам: например, по размеру процентной ставки, или доступная сумма первоначального взноса заемщика.</p>
                    <p>Для более точной оценки предлагаем вам отправить заявку на кредит. Наше агентство поддерживает партнерские отношения с многими основными банками России, поэтому, после отправки заявки на кредит, наши консультанты свяжутся с вами и помогут вам выбрать самые выгодные условия ипотечного кредитования.</p>

                </div>
                <div class="page-block" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
                    <h3 class="page-title">Процентная ставка</h3>
                    <p>Процентная ставка – самый важный параметр расчета размера ипотеки. Этот показатель измеряется в годовом выражении и показывает, на сколько увеличится ваш долг в год. Посмотрим на конкретном примере:</p>
                    <p>Процентная ставка – 12%</p>
                    <p>Это значит, что каждый год к долгу будет прибавляться 12%, однако при ипотечном кредитовании банк начисляет проценты не 1 раз в год, а ежедневно – на оставшуюся сумму долга.</p>
                    <p>Следовательно, каждый день к долгу будет начисляться:</p>
                    <p>12%/12 месяцев/30 дней = 0,033%</p>
                    <p>Воспользовавшись нашим онлайн-калькулятором, вы заметите, что ежемесячный платеж состоит из двух частей: основной долг и проценты. Каждый месяц ваш долг уменьшается, следовательно, процентов начисляется также меньше. По этой причине доля основного долга в платежах растет, а доля процентов уменьшается.</p>

                </div>
            </div>
        </div>
    </section>
    <!-- end page -->
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                total_cost:'',
                total_credit_cost:'',
                total_credit_cost1:'',
                credit_len: 'm',
                credit_len1: 'm',
                first_money:'0',
                currency:'RUB',
                currency_sign:'₽',
                credit_time:'',
                credit_time1:'',
                credit_time_for_calc:'',
                credit_time_for_calc1:'',
                credit_percent:'',
                credit_percent1:'',
                pay_type:'an',
                pay_type1:'an',
                form1_result:'',
                form2_result:'',
                form1_result_df:[

                ]
            },
            watch: {
                currency: function (val) {
                    if (val==='RUB'){
                        this.currency_sign='₽'
                    }else {
                        this.currency_sign='$'
                    }


                },
                credit_len: function (val) {
                    console.log('credit_time_for_calc',val)
                    if (val === 'y'){
                        this.credit_time_for_calc = this.credit_time*12
                    }else {
                        this.credit_time_for_calc = this.credit_time
                    }
                    console.log('credit_time_for_calc',this.credit_time_for_calc)

                },
                credit_len1: function (val) {
                    console.log('credit_time_for_calc1',val)
                    if (val === 'y'){
                        this.credit_time_for_calc1 = this.credit_time1*12
                    }else {
                        this.credit_time_for_calc1 = this.credit_time1
                    }
                    console.log('credit_time_for_calc1',this.credit_time_for_calc1)
                },
                credit_time: function (val) {
                    if (this.credit_len === 'y'){
                        this.credit_time_for_calc = val*12
                    }else {
                        this.credit_time_for_calc = val
                    }

                },
                credit_time1: function (val) {
                    if (this.credit_len === 'y'){
                        this.credit_time_for_calc1 = val*12
                    }else {
                        this.credit_time_for_calc1 = val
                    }

                }
            },
            computed: {

                credit_summ: function () {
                    this.total_credit_cost = this.total_cost - this.first_money
                    return this.total_credit_cost
                }
            },


            methods:{
                calcForm1(){
                    this.form1_result_df=[]
                    this.form1_result=''
                    if (this.pay_type==='an'){
                        let monthPercent = this.credit_percent / 12 / 100
                    let coefficient = monthPercent * ((1 + monthPercent) ** this.credit_time_for_calc) / ((1+ monthPercent) ** this.credit_time_for_calc-1)
                    this.form1_result = (coefficient * this.total_credit_cost).toFixed(2)
                    }

                     if (this.pay_type==='df'){
                         let main_payment = parseFloat((this.total_credit_cost / this.credit_time_for_calc).toFixed(2))
                         console.log(main_payment)
                         let monthPercent = parseInt(this.credit_percent) * 31 / 365
                         console.log(monthPercent)
                         let remain =this.total_credit_cost
                         let percent = 0
                         let payment = 0
                         for (i = 1; i <= this.credit_time_for_calc; i++) {
                             percent = (remain * monthPercent /100).toFixed(2)
                             payment = (parseFloat(main_payment )+ parseFloat(percent)).toFixed(2)
                             remain = parseInt((remain - main_payment).toFixed(2))
                             this.form1_result_df.push({'c1':main_payment,'c2':remain,'c3':percent,'c4':payment})
                            }
                     }
                },
                calcForm2(){
                    this.form1_result_df=[]
                    this.form1_result=''
                    this.form2_result=''
                    if (this.pay_type1==='an'){
                        let monthPercent = this.credit_percent1 / 12 / 100
                    let coefficient = monthPercent * ((1 + monthPercent) ** this.credit_time_for_calc1) / ((1+ monthPercent) ** this.credit_time_for_calc1-1)
                    this.form2_result = (coefficient * this.total_credit_cost1).toFixed(2)
                    }

                     if (this.pay_type1==='df'){
                         let main_payment = parseFloat((this.total_credit_cost1 / this.credit_time_for_calc1).toFixed(2))
                         console.log(main_payment)
                         let monthPercent = parseInt(this.credit_percent1) * 31 / 365
                         console.log(monthPercent)
                         let remain =this.total_credit_cost1
                         let percent = 0
                         let payment = 0
                         for (i = 1; i <= this.credit_time_for_calc1; i++) {
                             percent = (remain * monthPercent /100).toFixed(2)
                             payment = (parseFloat(main_payment )+ parseFloat(percent)).toFixed(2)
                             remain = parseInt((remain - main_payment).toFixed(2))
                             this.form1_result_df.push({'c1':main_payment,'c2':remain,'c3':percent,'c4':payment})
                            }
                     }
                }
            },
        })
    </script>
{% endblock %}