{% extends 'basic.html' %}
{% load static %}

{% block content %}
	<!-- start page -->
	<section class="page">
		<div class="page-top" style="background-image: url({% static 'img/page-bg-6.jpg' %});">
			<div class="page-top__wrap">
				<h1 class="page-head" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">Ипотечный калькулятор</h1>
			</div>
		</div>
		<div class="page-content page-content-big">
			<div class="wrapper">
				<div class="calculator">
					<div class="sell-row">
						<div class="sell-col" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
							<form action="">
								<div class="sell-wrap">
									<h4 class="calculator-title">По стоимости недвижимости</h4>
									<label for="j-1">Стоимость недвижимости</label>
									<div class="input-block">
										<div class="input-wrap">
											<input id="j-1" type="name" name="name">
											<span class="input-text">руб</span>
										</div>
									</div>
									<label for="h-1">Первоначальный взнос</label>
									<div class="sell-wrap__row sell-wrap__row-last">
										<div class="input-block">
											<div class="input-wrap">
												<input id="h-1" type="text" name="text" placeholder="">
											</div>
										</div>
										<div class="input-block sell-wrap__small sell-wrap__small-s">
											<div class="select">
												<div class="select-main">
													<div class="select-text">Руб</div>
													<div class="input-icon">
														<svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#383838"/></svg>
													</div>
												</div>
												<div class="select-info">
													<ul>
														<li>Руб</li>
														<li>Руб2</li>
														<li>Руб3</li>
													</ul>
												</div>
												<input type="text" name="text" class="select-value">
											</div>
										</div>
									</div>
									<div class="calculator-row">
										<p>Сумма кредита</p>
										<span>0 руб.</span>
									</div>
									<label for="q-1">Срок кредита</label>
									<div class="sell-wrap__row sell-wrap__row-last">
										<div class="input-block">
											<div class="input-wrap">
												<input id="q-1" type="text" name="text" placeholder="">
											</div>
										</div>
										<div class="input-block sell-wrap__small sell-wrap__small-s">
											<div class="select">
												<div class="select-main">
													<div class="select-text">лет</div>
													<div class="input-icon">
														<svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#383838"/></svg>
													</div>
												</div>
												<div class="select-info">
													<ul>
														<li>лет</li>
														<li>лет2</li>
														<li>лет3</li>
													</ul>
												</div>
												<input type="text" name="text" class="select-value">
											</div>
										</div>
									</div>
									<label for="j-4">Процентная ставка</label>
									<div class="input-block">
										<div class="input-wrap">
											<input id="j-4" type="text" name="text">
											<span class="input-text">% годовых</span>
										</div>
									</div>
									<label for="j-4">Вид платежа</label>
									<div class="radio">
										<input type="radio" name="pay" checked>
										<span class="radio-ico"></span>
										<p>Аннуитетный</p>
									</div>
									<div class="radio">
										<input type="radio" name="pay">
										<span class="radio-ico"></span>
										<p>Дифференцированный</p>
									</div>
									<div class="calculator-btn">
										<a href="#" class="second-btn">Расчитать</a>
									</div>
								</div>
							</form>
						</div>
						<div class="sell-col" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
							<form action="">
								<div class="sell-wrap">
									<h4 class="calculator-title">По сумме кредита</h4>
									<label for="j-2">Сумма кредита</label>
									<div class="input-block">
										<div class="input-wrap">
											<input id="j-2" type="name" name="name">
											<span class="input-text">руб</span>
										</div>
									</div>
									<label for="h-12">Срок кредита</label>
									<div class="sell-wrap__row sell-wrap__row-last">
										<div class="input-block">
											<div class="input-wrap">
												<input id="h-12" type="text" name="text" placeholder="">
											</div>
										</div>
										<div class="input-block sell-wrap__small sell-wrap__small-s">
											<div class="select">
												<div class="select-main">
													<div class="select-text">лет</div>
													<div class="input-icon">
														<svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#383838"/></svg>
													</div>
												</div>
												<div class="select-info">
													<ul>
														<li>лет</li>
														<li>лет2</li>
														<li>лет3</li>
													</ul>
												</div>
												<input type="text" name="text" class="select-value">
											</div>
										</div>
									</div>
									<label for="j-41">Процентная ставка</label>
									<div class="input-block">
										<div class="input-wrap">
											<input id="j-41" type="text" name="text">
											<span class="input-text">% годовых</span>
										</div>
									</div>
									<label for="j-4">Вид платежа</label>
									<div class="radio">
										<input type="radio" name="pay" checked>
										<span class="radio-ico"></span>
										<p>Аннуитетный</p>
									</div>
									<div class="radio">
										<input type="radio" name="pay">
										<span class="radio-ico"></span>
										<p>Дифференцированный</p>
									</div>
									<div class="calculator-btn">
										<a href="#" class="second-btn">Расчитать</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="page-block" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
					<h3 class="page-title">Расчет ипотеки онлайн</h3>
                    <p>При покупке недвижимости многие рассматривают вариант ипотечного кредитования. По статистике, ипотечное кредитование является одним из самых популярных видов покупки жилья.</p>
                    <p>Чтобы заранее узнать размер ежемесячных платежей, переплаты и срок кредитования, можете воспользоваться ипотечным калькулятором на нашем сайте. В этом случае вам не нужно ходить в банк и консультироваться, чтобы узнать, какой вариант ипотеки вам подходит.</p>
                    <p>С помощью несложных математических формул ипотечный калькулятор вычисляет самые главные показатели кредита: платежи, сумма ипотеки, переплата, сроки и т.д. Самое главное, что этот калькулятор рассчитывает все онлайн. Заемщик может с легкостью рассчитать размер платежей и понять, подходит ли ему вариант ипотечного кредитования.</p>
                    <p>Однако, надо обязательно помнить, что размер ипотеки и платежей не будут точными, если при расчете были использованы искаженные данные по некоторым параметрам: например, по размеру процентной ставки, или доступная сумма первоначального взноса заемщика.</p>
                    <p>Для более точной оценки предлагаем вам отправить заявку на кредит. Наше агентство поддерживает партнерские отношения с многими основными банками России, поэтому, после отправки заявки на кредит, наши консультанты свяжутся с вами и помогут вам выбрать самые выгодные условия ипотечного кредитования.</p>

					</div>
				<div class="page-block" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
					<h3 class="page-title">Процентная ставка</h3>
				    <p>Процентная ставка – самый важный параметр расчета размера ипотеки. Этот показатель измеряется в годовом выражении и показывает, на сколько увеличится ваш долг в год. Посмотрим на конкретном примере:</p>
                    <p>Процентная ставка – 12%</p>
                    <p>Это значит, что каждый год к долгу будет прибавляться 12%, однако при ипотечном кредитовании банк начисляет проценты не 1 раз в год, а ежедневно – на оставшуюся сумму долга.</p>
                    <p>Следовательно, каждый день к долгу будет начисляться:</p>
                    <p>12%/12 месяцев/30 дней = 0,033%</p>
                    <p>Воспользовавшись нашим онлайн-калькулятором, вы заметите, что ежемесячный платеж состоит из двух частей: основной долг и проценты. Каждый месяц ваш долг уменьшается, следовательно, процентов начисляется также меньше. По этой причине доля основного долга в платежах растет, а доля процентов уменьшается.</p>

                </div>
			</div>
		</div>
	</section>
	<!-- end page -->
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}