{% extends 'basic.html' %}
{% load static %}

{% block content %}
<!-- start sell -->
	<section class="sell">
		<div class="wrapper">
			<h1 class="page-title" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">ОЦЕНКА СТОИМОСТИ</h1>
			<form action="{% url 'sell' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
				<div class="sell-content" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
					<span class="sell-subtitle">Объект</span>
				</div>
				<div class="sell-row">
					<div class="sell-col" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
						<div class="sell-wrap">
							<div class="input-block sell-wrap__small">
								<div class="select">
									<div class="select-main">
										<div class="select-text">{{ categories.first.name }}</div>
										<div class="input-icon">
											<svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#383838"/></svg>
										</div>
									</div>
									<div class="select-info">
                                <ul>
                                    {% for category in categories %}
                                        <li onclick="setCategory('{{ category.id }}')">{{ category.name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <input id="category" type="hidden" name="{{ sellForm.category.name }}"  value="{{ categories.first.id }}">
								</div>
							</div>
							<div class="input-block">
								<div class="input-wrap">
									<input required id="location" type="text" name="{{ sellForm.street.name }}" onblur="test(this.value)" value="" placeholder="Адрес объекта">
								</div>
							</div>
							<div class="location-map">
								<h3 class="location-title">Местоположение на карте</h3>
								<div id="map" class="map"></div>
							</div>
							<div class="sell-wrap__row sell-wrap__row-big">
								<div class="input-block sell-wrap__col">
                                    <label>Тип постройки</label>
									<div class="select">
										<div class="select-main">
											<div class="select-text">Кирпич</div>
											<div class="input-icon">
												<svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#383838"/></svg>
											</div>
										</div>
										<div class="select-info">
											<ul>
												<li onclick="setHouseType('BR')">Кирпич</li>
												<li onclick="setHouseType('MN')">Монолит</li>
												<li onclick="setHouseType('PL')">Панель</li>
											</ul>
										</div>
										<input id="house_type" type="text" name="{{ sellForm.house_type.name }}" class="select-value1" value="BR">
									</div>
								</div>
								<div class="input-block sell-wrap__col">
									<label for="q-1">Количество комнат</label>
									<div class="input-quantity">
										<div class="quantity-col">
											<input checked type="radio" name="{{ sellForm.rooms.name }}" value="R1" >
											<span class="quantity-ico">1</span>
										</div>
										<div class="quantity-col">
											<input type="radio" name="{{ sellForm.rooms.name }}" value="R2">
											<span class="quantity-ico">2</span>
										</div>
										<div class="quantity-col">
											<input type="radio" name="{{ sellForm.rooms.name }}" value="R3">
											<span class="quantity-ico">3</span>
										</div>
										<div class="quantity-col">
											<input type="radio" name="{{ sellForm.rooms.name }}" value="R4">
											<span class="quantity-ico">4</span>
										</div>
                                        <div class="quantity-col">
											<input type="radio" name="{{ sellForm.rooms.name }}" value="R5">
											<span class="quantity-ico">5+</span>
										</div>
									</div>
								</div>
							</div>
							<label for="q-2">Этаж/Этажность</label>
							<div class="sell-wrap__row">
								<div class="input-block sell-wrap__col">
									<div class="input-wrap">
										<input  id="q-2" type="number" name="{{ sellForm.floor.name }}">
									</div>
								</div>
								<div class="input-block sell-wrap__col">
									<div class="input-wrap">
										<input type="number" name="{{ sellForm.floor_total.name }}">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="sell-col" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
						<div class="sell-wrap">
							<div class="input-block">
								<div class="input-wrap">
									<input required type="number" name="{{ sellForm.square_total.name }}" placeholder="Общая площадь (м2)">
								</div>
							</div>
							<div class="input-block">
								<div class="input-wrap">
									<input  type="number" name="{{ sellForm.square_kitchen.name }}" placeholder="Площадь кухни (м2)">
								</div>
							</div>
							<div class="input-block">
								<div class="sell-col__top">
									<label for="h-0">Описание</label>
									<span>0/1000</span>
								</div>
								<div class="input-wrap">
									<textarea name="{{ sellForm.description.name }}" id="h-0"></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="sell-col sell-col__main" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
						<div class="sell-wrap">
							<div class="sell-info">
								<div class="download-input">
									<input id="img_upload" multiple type="file" name="images" accept="image/*">
									<span class="second-btn">Загрузить фотографию</span>
								</div>
								<p>Можно загрузить до 30 фотографий. Максимальный вес каждой фотографии: 5 МБ. Форматы: JPG, JPEG, PNG.</p>
							</div>
                            <div class="sell-photos">
								<div id="preview" class="sell-slider"></div>
							</div>
						</div>
					</div>
					<div class="sell-col" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
						<div class="sell-wrap">
							<label for="h-1">Цена</label>
							<div class="sell-wrap__row sell-wrap__row-last">
								<div class="input-block">
									<div class="input-wrap">
										<input required id="h-1" type="number" name="{{ sellForm.price.name }}" placeholder="">
									</div>
								</div>
								 <div class="input-block sell-wrap__small">
                        <div class="select">
                            <div class="select-main">
                                <div class="select-text">Рубли</div>
                                <div class="input-icon">
                                    <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#383838"/></svg>
                                </div>
                            </div>
                            <div class="select-info">
                                <ul>
                                    <li onclick="setCurr('RU')" >Рубли</li>
                                    <li onclick="setCurr('US')">Доллары</li>

                                </ul>
                            </div>
                            <input id="currency" type="text" name="{{ sellForm.currency_type.name }}" class="select-value1" value="RU">
                        </div>
                    </div>
							</div>
							<label for="h-2">Контакты</label>
							<div class="input-block">
								<div class="input-wrap">
									<input required id="h-2" type="text" name="{{ sellForm.contact_name.name }}" placeholder="Ваше имя">
								</div>
							</div>
							<div class="sell-wrap__row sell-wrap__row-cont">
								<div class="input-block sell-wrap__col">
									<div class="input-wrap">
										<input  type="email" name="{{ sellForm.contact_email.name }}" placeholder="Email">
									</div>
								</div>
								<div class="input-block sell-wrap__col">
									<div class="input-wrap">
										<input required type="tel" name="{{ sellForm.contact_phone.name }}" placeholder="Контактный телефон">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
                <input type="hidden" name="{{ sellForm.ads_type.name }}" value="estimate">
                <input type="hidden" name="{{ sellForm.name.name }}" value="Запрос на оценку с сайта">
                <input type="hidden" name="{{ sellForm.action_type.name }}" value="SL">
                <input style="display: none" type="checkbox"  name="agree" >
                <textarea style="display: none" name="comment"  cols="30" rows="10"></textarea>
				<div class="sell-bottom">
					<p>Заполняя данные поля, я подтверждаю, что ознакомился и согласен с <a href="#">Условиями...</a></p>
					<button type="submit" class="main-btn">Отправить</button>
				</div>
			</form>
		</div>
	</section>
	<!-- end sell -->
{% endblock %}

{% block js %}
{{ block.super }}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=b066466e-a620-495c-932e-8b328fb49452" type="text/javascript"></script>

    <script>

    function previewImages() {
            var preview = document.querySelector('#preview');
            preview.innerHTML = ''
            if (this.files) {
                [].forEach.call(this.files, readAndPreview);
            }
            function readAndPreview(file) {
                var reader = new FileReader();
                reader.addEventListener("load", function() {
                    var image = new Image();
                    image.height = 140;
                    image.width = 140;
                    image.title  = file.name;
                    image.className = 'sell-slide'
                    image.src    = this.result;
                    preview.appendChild(image);
                    // image.addEventListener("click", event => {
                    //      console.log(file.name)
                    //       console.log(allImages.files)
                    //})
                });
                reader.readAsDataURL(file);
            }
        }
        document.querySelector('#img_upload').addEventListener("change", previewImages);

      ymaps.ready(init);

      let map = ymaps,
          geoResult = undefined,
          gmap= undefined,
          gplacemark = undefined

function init() {
    var myPlacemark,
        myMap = new ymaps.Map('map', {
            center: [55.753994, 37.622093],
            zoom: 9
        }, {
            searchControlProvider: 'yandex#search'
        });
    gmap = myMap


    myMap.events.add('click', function (e) {
        var coords = e.get('coords');

        // Если метка уже создана – просто передвигаем ее.
        if (myPlacemark) {
            myPlacemark.geometry.setCoordinates(coords);
             gplacemark = myPlacemark
        }
        // Если нет – создаем.
        else {
            myPlacemark = createPlacemark(coords);
            myMap.geoObjects.add(myPlacemark);
            // Слушаем событие окончания перетаскивания на метке.
            myPlacemark.events.add('dragend', function () {
                getAddress(myPlacemark.geometry.getCoordinates());
            });
             gplacemark = myPlacemark
        }
        getAddress(coords);
    });

    // Создание метки.
    function createPlacemark(coords) {
        return new ymaps.Placemark(coords, {
            iconCaption: 'поиск...'
        }, {
            preset: 'islands#violetDotIconWithCaption',
            draggable: true
        });
    }

    // Определяем адрес по координатам (обратное геокодирование).
    function getAddress(coords) {
        myPlacemark.properties.set('iconCaption', 'поиск...');
        ymaps.geocode(coords).then(function (res) {
            var firstGeoObject = res.geoObjects.get(0);
            geoResult = firstGeoObject

            myPlacemark.properties
                .set({
                    // Формируем строку с данными об объекте.
                    iconCaption: [
                        // Название населенного пункта или вышестоящее административно-территориальное образование.
                        firstGeoObject.getLocalities().length ? firstGeoObject.getLocalities() : firstGeoObject.getAdministrativeAreas(),
                        // Получаем путь до топонима, если метод вернул null, запрашиваем наименование здания.
                        firstGeoObject.getThoroughfare() || firstGeoObject.getPremise()
                    ].filter(Boolean).join(', '),
                    // В качестве контента балуна задаем строку с адресом объекта.
                    balloonContent: firstGeoObject.getAddressLine()

                });
             console.log(firstGeoObject.properties._data.text)
            console.log(firstGeoObject)
            document.getElementById('location').value = firstGeoObject.properties._data.text
        });
    }
}


function test(value) {
    console.log(gmap)

    map.geocode(value, {
        /**
         * Опции запроса
         * @see https://api.yandex.ru/maps/doc/jsapi/2.1/ref/reference/geocode.xml
         */
        // Сортировка результатов от центра окна карты.
        // boundedBy: myMap.getBounds(),
        // strictBounds: true,
        // Вместе с опцией boundedBy будет искать строго внутри области, указанной в boundedBy.
        // Если нужен только один результат, экономим трафик пользователей.
        results: 1
    }).then(function (res) {
        // Выбираем первый результат геокодирования.
        var firstGeoObject = res.geoObjects.get(0),
            // Координаты геообъекта.
            coords = firstGeoObject.geometry.getCoordinates(),
            // Область видимости геообъекта.
            bounds = firstGeoObject.properties.get('boundedBy');

        firstGeoObject.options.set('preset', 'islands#darkBlueDotIconWithCaption');
        // Получаем строку с адресом и выводим в иконке геообъекта.
        firstGeoObject.properties.set('iconCaption', firstGeoObject.getAddressLine());

        // Добавляем первый найденный геообъект на карту.
        gmap.geoObjects.add(firstGeoObject);
        // Масштабируем карту на область видимости геообъекта.
        gmap.setBounds(bounds, {
            // Проверяем наличие тайлов на данном масштабе.
            checkZoomRange: true
        });
    })
}

    </script>
{% endblock %}