{% extends 'basic.html' %}
{% load static %}

{% block content %}
<!-- start page -->
	<section class="page">
		<div class="page-top" style="background-image: url({% static 'img/page-bg-1.jpg' %});">
			<div class="page-top__wrap">
				<h1 class="page-head" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">Приватизация</h1>
			</div>
		</div>
		<div class="page-content page-content-big">
			<div class="wrapper">
				<p data-aos="fade-up" data-aos-duration="500" data-aos-once="true">Приватизация дает право гражданам получить жилье в собственность совершенно бесплатно.Приватизировать можно жилое помещение, в котором вы проживаете по договору социального найма и если вы удовлетворяете следующим требованиям:</p>
				<ul data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
					<li>- Вы гражданин РФ</li>
					<li>- Вы никогда прежде не приватизировали жилье</li>
					<li>- У вас есть согласие всех членов, которые имеют право на приватизацию этого жилого помещения (включая совершеннолетних)</li>
				</ul>
				<p data-aos="fade-up" data-aos-duration="500" data-aos-once="true">Приватизация позволит не только владеть и пользоваться жильем, но также распоряжаться им. Ввиду отсутствия у нанимателя права распоряжаться жильем, муниципальная квартира может в любой момент вновь перейти к государству. Например, при смерти единственного нанимателя, или при неуплате коммунальных платежей. Приватизировав жилье, вы получаете практически те же льготы, что и собственники жилья, но и ряд минусов.</p>
				<div class="page-row">
					<div class="page-col" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
						<h2 class="page-title">Плюсы приватизации</h2>
						<ul>
							<li>- Право регистрировать на жилой площади кого угодно</li>
							<li>- Упрощение процедуры перепланировки и переоборудования, с обязательным узакониванием данного процесса с высшими органами</li>
							<li>- Возможность сдавать жилье в аренду, продавать, дарить или завещать</li>
							<li>- Жилое помещение практически невозможно отобрать у собственника</li>
						</ul>
					</div>
					<div class="page-col" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
						<h2 class="page-title">Минусы приватизации</h2>
						<p>Наряду с рядом плюсов данной процедуры, есть также недостатки, о которых желающие приватизировать должны знать:</p>
						<ul>
							<li>- Расходы на содержание жилья оплачивает уже собственник</li>
							<li>- Коммунальные платежи у собственника будут чуть выше, чем когда он не мог распоряжаться жильем</li>
							<li>- Необходимость платить ежегодный налог на недвижимость, который зависит от стоимости собственности</li>
							<li>- В случае пожара или других непредвиденных ситуаций, собственник будет сам оплачивать восстановление жилого помещения</li>
						</ul>
						<p>Бесплатную приватизацию постоянно продлевали, пока 22 февраля 2017 года не вступил в силу закон о бессрочной бесплатной приватизации.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end page -->
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}