<!-- SKIB.ORG WAS HERE -->
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>{{ pageTitle }}</title>
    <meta name="description" content="{{ pageDescription }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<meta property="og:image" content="path/to/image.jpg">
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">-->
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <meta name="theme-color" content="#000">
    <meta name="msapplication-navbutton-color" content="#000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">
    <style>
        .select-text-alt{
            cursor: pointer;
        }
    </style>
</head>
<body>
<div id="app">
    {% include 'header.html' %}
    {% block content %}
    {% endblock %}
    {% include 'footer.html' %}
</div>
{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'js/scripts.min.js' %}"></script>
     <script>
    function slid() {
        $(".advertisements-slider").each(function () {
            $(this).slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: !1,
                fade: !0,
                asNavFor: $(this).parents(".advertisements-wrap").find(".advertisements-navigation"),
                responsive: [{ breakpoint: 701, settings: { slidesToShow: 1, slidesToScroll: 1, infinite: !0, dots: !0, fade: !1 } }],
            }),
                $(this)
                    .parents(".advertisements-wrap")
                    .find(".advertisements-navigation")
                    .slick({ slidesToShow: 4, slidesToScroll: 1, dots: !0, focusOnSelect: !0, vertical: !0, verticalSwiping: !0, asNavFor: $(this).parents(".advertisements-wrap").find(".advertisements-slider") });
        })

    }
    </script>
    <script>
    function setCategory(id) {
        document.getElementById('category').value = id
    }
    function setTown(id) {
        document.getElementById('town').value = id
    }
    function setCurr(id) {
        document.getElementById('currency').value = id
    }
    function setHouseType(id) {
        console.log('htype')
        document.getElementById('house_type').value = id
    }
    </script>

{% endblock %}
</body>








</html>