{% load static %}
<!-- start footer -->
	<footer class="footer">
		<div class="wrapper">
			<div class="footer-top">
				<ul class="footer-list">
					<li><a href="{% url 'privatization' %}">Приватизация</a></li>
					<li><a href="{% url 'consultation' %}">Бесплатная консультация</a></li>
					<li class="drop">
						<a href="#" class="drop-text">
							Кредит
							<svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.66406 0.00390625L7.48438 0.824219L3.98438 4.32422L0.484375 0.824219L1.30469 0.00390625L3.98438 2.68359L6.66406 0.00390625Z" fill="white"/></svg>
						</a>
						<ul class="drop-list">
							<li><a href="{% url 'credit_help' %}">Помощь с кредитованием</a></li>
									<li><a href="{% url 'credit_calculator' %}">Кредитный калькулятор</a></li>
						</ul>
					</li>
					<li><a href="{% url 'owners' %}">Собственникам</a></li>
					<li class="drop">
						<a href="#" class="drop-text">
							Полезное
							<svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.66406 0.00390625L7.48438 0.824219L3.98438 4.32422L0.484375 0.824219L1.30469 0.00390625L3.98438 2.68359L6.66406 0.00390625Z" fill="white"/></svg>
						</a>
						<ul class="drop-list">
							<li><a href="{% url 'articles' %}">Статьи</a></li>

						</ul>
					</li>
					<li><a href="{% url 'jobs' %}">Вакансии</a></li>
					<li><a href="{% url 'partners' %}">Партнеры</a></li>
					<li><a href="{% url 'contacts' %}">Контакты</a></li>
				</ul>
				<ul class="footer-social">
					<li><a href="#"><img src="{% static 'img/google-ico.svg' %}" alt=""></a></li>
					<li><a href="#"><img src="{% static 'img/inst-ico.svg' %}" alt=""></a></li>
					<li><a href="#"><img src="{% static 'img/whatsApp-ico.svg' %}" alt=""></a></li>
					<li><a href="#"><img src="{% static 'img/youtube-ico.svg' %}" alt=""></a></li>
				</ul>
			</div>
			<div class="footer-bottom">
				<p class="footer-mob">Все права защищены. 2020.</p>
				<p><a href="#">Лигал</a></p>
				<ul>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Terms and Conditions</a></li>
				</ul>
			</div>
		</div>
	</footer>
	<!-- end footer -->
	<!-- modal-form -->
	<div class="modal-overlay"></div>
	<div class="modal" id="modal-agreement">
		<div class="modal-content">
			<div class="modal-close">
				<svg width="23" height="25" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23 3.14632L20.6836 0.766479L11.5 10.2015L2.31643 0.766479L0 3.14632L9.18357 12.5813L0 22.0163L2.31643 24.3961L11.5 14.9611L20.6836 24.3961L23 22.0163L13.8164 12.5813L23 3.14632Z" fill="#8B8B8B"/></svg>
			</div>
			<form method="POST">
				<div class="modal-top">
					<h3 class="modal-title">Договориться о просмотре</h3>
				</div>
				<div class="modal-wrap">
					<div class="input-block">
						<label for="c-1">Имя</label>
						<div class="input-wrap">
							<input id="c-1" type="text" name="name" placeholder="Имя">
						</div>
					</div>
					<div class="input-block">
						<label for="c-2">Контактный телефон <span>*</span></label>
						<div class="input-wrap">
							<input id="c-2" type="tel" name="tel" placeholder="+7">
						</div>
					</div>
					<div class="input-block">
						<label for="c-3">В какое время вам позвонить ?</label>
						<div class="input-wrap">
							<input id="c-3" type="text" name="name" placeholder="00:00">
						</div>
					</div>
					<button class="second-btn">Отправить</button>
					<div class="modal-text">
						<p>Заполнив данные, я подтверждаю, что ознакомлен и согласен с условиями <a href="#">политики конфиденциальности</a>.</p>
					</div>
				</div>
			</form>
		</div>
	</div>