{% extends 'basic.html' %}
{% load static %}

{% block content %}
<!-- start page -->
	<section class="page">
		<div class="page-content">
			<div class="wrapper">
				<h1 class="page-title" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">{{ article.name }}</h1>
                <div data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
                      {{ article.text | safe }}
                </div>

				<div class="page-share" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
					<span>Поделиться статьей</span>
					<ul class="footer-social">
						<li><a target="_blank" rel="nofollow" href="https://www.facebook.com/sharer.php?src=sp&u=https://3stypeni.ru/articles/{{ article.name_slug }}&title={{ article.name }}&utm_source=share2"><img src="{% static 'img/s-fb.png' %}" alt=""></a></li>
						<li><a target="_blank" rel="nofollow" href="https://connect.ok.ru/offer?url=https://3stypeni.ru/articles/{{ article.name_slug }}&title={{ article.name }}&utm_source=share2"><img src="{% static 'img/s-ok.png' %}" alt=""></a></li>
						<li><a target="_blank" rel="nofollow" href="https://api.whatsapp.com/send?text=https://3stypeni.ru/articles/{{ article.name_slug }}&utm_source=share2"><img src="{% static 'img/s-wt.png' %}" alt=""></a></li>
						<li><a target="_blank" rel="nofollow" href="https://vk.com/share.php?url=https://3stypeni.ru/articles/{{ article.name_slug }}&title={{ article.name }}&utm_source=share2"><img src="{% static 'img/s-vk.png' %}" alt=""></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- end page -->
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}